{{ $scss := resources.Get "scss/achievement.scss" | toCSS | minify }}
<link rel="stylesheet" href="{{ $scss.RelPermalink }}">
<div class="achievement-page">

  <!-- HERO -->
  <section class="achievement-list">

  <article class="achievement-item">
    <h2>JavaScript Essentials 1</h2>
    <a href="https://www.credly.com/badges/42a86c58-eedd-4e7a-a034-337a822fd50a" target="_blank">
      <img src="{{ "img/achievement/java1.jpg" | relURL }}" alt="JavaScript Essentials 1">

    </a>
    <p class="achievement-caption">Chứng chỉ JavaScript Essentials 1</p>
    <p>Nắm vững cú pháp JavaScript, biến, hàm, điều kiện và vòng lặp.</p>
  </article>

  <article class="achievement-item">
    <h2>JavaScript Essentials 2</h2>
    <a href="https://www.credly.com/badges/3fc14a95-bb5e-4d08-84e6-d8581ac13049" target="_blank">
      <img src="/img/achievement/java2.jpg" alt="JavaScript Essentials 2">
    </a>
    <p class="achievement-caption">Chứng chỉ JavaScript Essentials 2</p>
    <p>Làm việc với DOM, sự kiện, mảng, object và ES6.</p>
  </article>

  <article class="achievement-item">
    <h2>Networking Basics</h2>
    <a href="https://www.credly.com/badges/2b4ed8a3-368f-4105-89f3-bd4b9c9a9b89" target="_blank">
      <img src="/img/achievement/net.jpg" alt="Networking Basics">
    </a>
    <p class="achievement-caption">Chứng chỉ Networking Basics</p>
    <p>Hiểu mô hình OSI, TCP/IP, các giao thức mạng cơ bản.</p>
  </article>

</section>

</div>
